@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  font-family: var(--font-roboto), 'Roboto', Arial, Helvetica, sans-serif;
}
